.page_container{
    display: grid;
    grid-template-columns: repeat(4,300px);
    gap: 15px;
    margin-left: 50px;
    text-align: center;
    margin-top: 20px;
   
}
.laptop_image img {
    width: 270px;
    height: 260px;
}

.image img {
    width: 250px;
}

